@section scripts
{
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/Views/Home/SeminarApp.js")
	@Scripts.Render("~/Views/Home/HomeCtrl.js")
}

<div ng-app="Seminar" ng-controller="">
	<div ng-view></div>
</div>

