<div class="row">
    <div class="col-md-12">
        <course-summary-directive title="Participants for" course="course"></course-summary-directive>
    </div>

    <div class="col-md-12">
        <ul class="cards cards-header">
            <li>
                <div class="column title">Name</div>

                <div class="column">Email</div>
            </li>
        </ul>

        <ul class="cards">
            <li ng-repeat="participant in courseParticipants">
                <div class="column title">{{participant.Name}}</div>

                <div class="column">{{participant.Email}}</div>
            </li>
        </ul>
    </div>
</div>