<div class="row">
    <div class="col-md-12">
        <h2>Participants for {{course.Name}}</h2>
        <p>
            From <strong>{{course.From.substr(6).slice(0, -2) | date: "medium" }}</strong>
            until <strong>{{course.To.substr(6).slice(0, -2) | date: "medium" }}</strong>
            and in Room {{course.Room}}
            with {{course.Instructor}}.
        </p>
    </div>

    <div class="col-md-12">
        <ul class="cards cards-header">
            <li>
                <div class="column title">Name</div>

                <div class="column">Email</div>
            </li>
        </ul>

        <ul class="cards">
            <li ng-repeat="participant in courseParticipants">
                <div class="column title">{{participant.Name}}</div>

                <div class="column">{{participant.Email}}</div>
            </li>
        </ul>
    </div>
</div>