<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		
		<!-- SQL Server Express 2014-->
		<add name="Seminar" connectionString="Server=(LocalDB)\MSSQLLocalDB;Integrated Security=true;MultipleActiveResultSets=True;Initial Catalog=Seminar.UnitTest;" providerName="System.Data.SqlClient" />

		<!-- SQL Server Express 2012-->
		<!--
		<add name="Seminar" connectionString="Server=(LocalDB)\v11.0;Integrated Security=true;MultipleActiveResultSets=True;Initial Catalog=Seminar.UnitTest;" providerName="System.Data.SqlClient" />
		-->
		
	</connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>