<div class="row">
    <div class="col-md-12">
        <h2>Courses</h2>
    </div>

    <div class="col-md-12">
        <ul class="cards cards-header">
            <li>
                <div class="column title">Name</div>

                <div class="column">Instructor</div>

                <div class="column">Room</div>

                <div class="column">From Date & Time</div>

                <div class="column">To Date & Time</div>

                <div class="column text-center">Participants</div>
            </li>
        </ul>

        <ul class="cards">
            <li ng-repeat="course in courses">
                <div class="column title">{{course.Name}}</div>

                <div class="column">{{course.Instructor}}</div>

                <div class="column">{{course.Room}}</div>

                <div class="column">
                    {{course.From.substr(6).slice(0, -2) | date: "mediumDate" }}

                    <span class="sub">
                        {{course.From.substr(6).slice(0, -2) | date: "shortTime" }}
                    </span>
                </div>

                <div class="column">
                    {{course.To.substr(6).slice(0, -2) | date: "mediumDate" }}

                    <span class="sub">
                        {{course.To.substr(6).slice(0, -2) | date: "shortTime" }}
                    </span>
                </div>

                <div class="column text-center">
                    <a href="#!courseParticipant/create/{{course.Id}}">Add</a> | <a href="#!courseParticipant/{{course.Id}}">View All</a>
                </div>
            </li>
        </ul>
    </div>
</div>