<div class="row">
    <div class="col-md-12">
        <h2>Create a Course</h2>
    </div>
    
    <div class="col-md-12">
        <form ng-submit="createCourse()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="courseName">Course Name</label>
                        <input id="courseName" class="form-control" type="text" placeholder="Name" ng-model="viewModel.Name" required />
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="instructorName">Instructor Name</label>
                        <input id="instructorName" class="form-control" type="text" placeholder="Instructor Name" ng-model="viewModel.Instructor" required />
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="roomName">Room Name</label>
                        <input id="roomName" class="form-control" type="text" placeholder="Room Name" ng-model="viewModel.Room" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dateTimeFrom">Date Time From</label>
                        <input id="dateTimeFrom" class="form-control" type="text" placeholder="Date Time From" ng-model="viewModel.From" required />
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dateTimeTo">Date Time To</label>
                        <input id="dateTimeTo" class="form-control" type="text" placeholder="Date Time To" ng-model="viewModel.To" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
